body {
    background: grey;
    color: black;
    background: #689F38;
}

ul {
    margin-top: -10%;
}

.list_decoration_none {
    list-style-type: square;
}

.links,
.links:hover {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

table,
th {
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.treshtag img {
    border-radius: 15px;
    border-color: white;
    border-width: 5px;
    border-style: solid;
}

    .docs img{
        display: run-in;
        border-radius: 15px;
        border-width: 5px;
        margin-top: 5%;
        width: 25vh;
    }


table {
    width: 50vw;
    background-color: #fff;
}

.esse {
    height: 25vh;
}

.rtk img {
    width: 40vw;
}

nav ul li a {
    color: white;
}

nav button span {
    color: black
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block {
    margin-bottom: 5%;
}

.text_main {
    font-size: 2em;
    font-weight: bold;
}

.text_1 {
    font-size: 1.5em;
}

.logo img {
    width: 8vw;
}

.skills_1 img {
    width: 60%;
    margin-top: 15%;
}

.skills_2 img {
    width: 40%;
}

.skills_2 div:first-of-type {
    margin-left: 8%;
    margin-right: -15%;
}

.guy_questions,
.forest_img {
    width: 20vw;
}

.reg_btn {
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.material {
    margin-top: 5%;
}

.qa_list {
    margin-top: 10%;
}

.debaty,
.sbor,
.treshtag_1,
.treshtag_2,
.eco_reklama,
.eco_iq {
    width: 35vw;
    border-radius: 15px;
}

video{
    width: 70vw;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 5px;
}
